# home
wifi_ssid: mywifi
wifi_password: supersecretpassword

# fallback AP mode password
wifi_ap_password: fallbackapsecret
# web interface password
web_password: anothersecretpassword
# OTA update password
ota_password: 24_random_hex_characters

# HA API encryption key. you can also let esphome web generate these per-device
# but it's a bit of a pain when dealing with the vscode extension and a separate dev machine
# so I just generate one here and use it everywhere
api_encryption_key: generate_one_of_these_yourself

# iBeacon common UUID
ibeacon_uuid: null # generate one using uuidgen or an online generator
# iBeacon major IDs for different locations
ibeacon_major_home: 1 # pick a number between 0 and 65535 to identify this beacon group

# IRKs for BLE presence detection
# I used an esp32 board running espresense to pair and retrieve them
# there doesn't seem to be an esphome component to do that yet
ble_irk_my_phone: irk:somehexstringhere
ble_irk_my_tablet: irk:someotherhexstringhere
