esphome:
  name: {{ device.name | lower | replace(" ", "-") }}
  friendly_name: {{ device.name }}

esp32:
  board: {{ device.board }}
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: {{ device.api_encryption_key }}

ota:
  - platform: esphome
    password: {{ device.ota_password }}

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Test-Controller Fallback Hotspot"
    password: !secret wifi_ap_password

captive_portal:
